body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:896px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  height:160px;
}
#u0 {
  position:absolute;
  left:224px;
  top:92px;
  width:672px;
  height:160px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  word-wrap:break-word;
}
